{% extends 'base.html' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% include 'sidebar.html' %}
            
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ url_for('home') }}" class="text-utp-red">Inicio</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{% block breadcrumb %}{% endblock %}</li>
                    </ol>
                </nav>
                
                <h1 class="h2 mb-4">{% block page_title %}{% endblock %}</h1>
                
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
{% endblock %}