<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
    <div class="position-sticky pt-3">
        <div class="text-center mb-4">
            <img class="mb-4" src="{{ url_for('static', filename='img/logo.png') }}" alt="" width="" height="100">
            <h5 id="lab-manager" class="sidebar-heading d-flex justify-content-center align-items-center px-3 mt-4 mb-1 text-utp-red">LAB MANAGER UTP</h5>
        </div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'profile' %}active{% endif %}" href="{{ url_for('profile') }}">
                    <i class="bi bi-person-circle me-2"></i>Mi Perfil
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'laboratorios' %}active{% endif %}" href="{{ url_for('laboratorios') }}">
                    <i class="bi bi-building me-2"></i>Laboratorios
                </a>
            </li>
            {% if current_user.rol_id == 1 %}
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'asignaciones' %}active{% endif %}" href="{{ url_for('asignaciones') }}">
                    <i class="bi bi-person-workspace me-2"></i>Asignar laboratorios
                </a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'equipos' %}active{% endif %}" href="{{ url_for('equipos') }}">
                    <i class="bi bi-tools me-2"></i>Equipos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'cronograma' %}active{% endif %}" href="#">
                    <i class="bi bi-calendar-event me-2"></i>Cronograma
                </a>
            </li>
        </ul>
        <hr>
        <div class="px-3">
            <a href="{{ url_for('logout') }}" class="btn btn-utp-red w-100">
                <i class="bi bi-box-arrow-right me-2"></i>Salir
            </a>
        </div>
    </div>
</nav>